# --------------------------------IDEs: Tests/Generates/Builds/Projects---------------------------------- #

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono auto generated)
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# DNX
project.lock.json
artifacts/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# JetBrains Rider
.idea/
*.sln.iml

# Eclipse
.project
.classpath
.settings/

# IntelliJ / Android Studio
*.iml
.idea/
.gradle/
build/

# Xcode
.DS_Store
*/.DS_Store
*.xcodeproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcuserdata/

*.xcworkspace
!*.xcworkspace/xcuserdata/

# NetBeans
/nbproject/private/
/build/

# Aptana Studio
/.metadata
/.apt_generated
/.settings

# PyCharm
.idea/

# Sublime Text
*.sublime-workspace

# --------------------------------Customized---------------------------------- #

# Build Generated
bin/
bin-int/

# Logs
logs/
