[submodule "Dependencies/glfw/src"]
	path = Dependencies/glfw/src
	url = https://github.com/glfw/glfw
[submodule "Dependencies/spdlog/src"]
	path = Dependencies/spdlog/src
	url = https://github.com/gabime/spdlog
[submodule "Dependencies/glm/src"]
	path = Dependencies/glm/src
	url = https://github.com/g-truc/glm
[submodule "Dependencies/imgui/src"]
	path = Dependencies/imgui/src
	url = https://github.com/ocornut/imgui
